@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$top-blue-bg: #1767d1;
$top-pink-bg: #c85ba2;
$bottom-light-bg: #f0f0f0;
$font-gray: #7d7c7c;
$font-white: #ffffff;
$body-font-type: "Roboto", sans-serif;
